<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Incluir Trabajadores</legend>
    
    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="selectbasic"></label>
      <div class="col-md-4">
        <select id="selectbasic" name="selectbasic" class="form-control">
          <option value="1">Option one</option>
          <option value="2">Option two</option>
        </select>
      </div>
    </div>
</fieldset>
<!-- datos del trabajador seleccionado -->
<!-- Button -->
<div class="form-group">
<label class="col-md-4 control-label" for="singlebutton"></label>
<div class="col-md-4">
  <button id="singlebutton" name="singlebutton" class="btn btn-success">Incluir</button>
</div>
</div>
</form>