<fieldset>
  <!-- Form Name -->
  <legend>Crear Grupo</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput"
      >Nombre del Grupo:</label
    >
    <div class="col-md-4">
      <input
        id="textinput"
        name="textinput"
        type="text"
        placeholder="group name"
        class="form-control input-md"
        required=""
      />
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea"
      >Descripción del grupo:</label
    >
    <div class="col-md-4">
      <textarea class="form-control" id="textarea" name="textarea">
default text</textarea
      >
    </div>
  </div>

  <!-- Button (Double) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="button1id"></label>
    <div class="col-md-8">
      <button id="button1id" name="button1id" class="btn btn-success">
        Crear
      </button>
      <button id="button2id" name="button2id" class="btn btn-primary">
        Modificar
      </button>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button id="singlebutton" name="singlebutton" class="btn btn-danger">
        Eliminar
      </button>
    </div>
  </div>
</fieldset>
